<ba-card *ngIf="chain" title="Execution Graph and Metadata">

  <div id="graph" class="row" style="height: 300px;"></div>

  <tag-input [(ngModel)]='chain.metadata'
             theme='minimal'
             placeholder="+ Metadata"
             secondaryPlaceholder="Enter metadata"
             [editable]='true'
             modelAsStrings='true'></tag-input>

  <div class="form-group">
    <label for="identifier">Identifier</label>
    <input type="text" id="identifier"  class="form-control" placeholder="Identifier" [(ngModel)]='chain.identifier'>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" placeholder="Title" [(ngModel)]='chain.title'>
  </div>
  <div class="form-group">
    <label for="abstract">Abstract</label>
    <textarea  id="abstract" class="form-control" placeholder="Abstract" [(ngModel)]='chain.abstract'></textarea>
  </div>

  <button class="btn btn-primary btn-raised" type="button" (click)="updateChain()">Save</button>

</ba-card>


<ba-card *ngIf="executions && chain" title="Executions">

  <table class="table table-hover">
    <thead>
    <tr>
      <th class="align-center">Execution ID</th>
      <th class="align-center">Start</th>
      <th class="align-center">End</th>
      <th class="align-center">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let execution of executions" routerLink="/pages/chains/{{ chain.id }}/executions/{{ execution.id }}">
      <td>{{ execution.id }}</td>
      <td>{{ execution.start }}</td>
      <td>{{ execution.end }}</td>
      <td>{{ execution.status }}</td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary btn-raised" type="button" (click)="openExecutionForm()" style="margin-top: 15px;">Execute</button>

</ba-card>
