@import '../../../../theme/sass/conf/conf';

table {
  th {
    text-align: center;
    border-top: none;
  }
  td {
    text-align: left !important;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

ba-card {
  text-align: center;
}

.network-canvas {
  color: black;
}

table.legend_table {
  font-size: 11px;
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
}
table.legend_table,td {
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
  padding: 2px;
}
div.table_content {
  width:80px;
  text-align:center;
}
div.table_description {
  width:100px;
}

