<ba-card *ngIf="chain" title="Execution Graph">

  <div class="row" style="height: 400px;">
    <div id="graph" class="col-lg-7 col-md-7">
    </div>
    <div *ngIf="graph && graph.editor" class="col-lg-5 col-md-5">
      <div *ngIf="graph.isNode" id="node">
        <div class="form-group">
          <label for="process">Process</label>
          <input type="text" id="process" class="form-control" placeholder="Process" [(ngModel)]='graph.editor.part.data.key' disabled>
        </div>
      </div>
      <div *ngIf="graph.isLink" id="link">
        <div class="form-group">
          <label for="process">Before</label>
          <input type="text" id="before" class="form-control" placeholder="Before" [(ngModel)]='graph.editor.part.data.from' disabled>
        </div>
        <div class="form-group">
          <label for="process">After</label>
          <input type="text" id="after" class="form-control" placeholder="After" [(ngModel)]='graph.editor.part.data.to' disabled>
        </div>
        <tag-input [(ngModel)]='graph.editor.part.data.publish'
                   [editable]='true'
                   [onlyFromAutocomplete]='true'
                   theme='minimal'
                   placeholder="+ Output"
                   secondaryPlaceholder="Select products"
                   modelAsStrings='true'>
          <tag-input-dropdown [showDropdownIfEmpty]="true"
                              [autocompleteItems]="graph.editor.outputs">
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-raised" type="button" (click)="openExecutionForm()">Execute</button>

</ba-card>


<ba-card *ngIf="chain" title="Chain Metadata">

  <tag-input [(ngModel)]='chain.metadata'
             theme='minimal'
             placeholder="+ Metadata"
             secondaryPlaceholder="Enter metadata"
             [editable]='true'
             modelAsStrings='true'></tag-input>

  <div class="form-group">
    <label for="identifier">Identifier</label>
    <input type="text" id="identifier"  class="form-control" placeholder="Identifier" [(ngModel)]='chain.identifier'>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" placeholder="Title" [(ngModel)]='chain.title'>
  </div>
  <div class="form-group">
    <label for="abstract">Abstract</label>
    <textarea  id="abstract" class="form-control" placeholder="Abstract" [(ngModel)]='chain.abstract'></textarea>
  </div>

  <button class="btn btn-primary btn-raised" type="button" (click)="updateChain()">Save</button>

</ba-card>


<ba-card *ngIf="executions && chain" title="Executions">

  <table class="table table-hover">
    <thead>
    <tr>
      <th class="align-center">Execution ID</th>
      <th class="align-center">Start</th>
      <th class="align-center">End</th>
      <th class="align-center">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let execution of executions" routerLink="/pages/chains/{{ chain.id }}/executions/{{ execution.id }}">
      <td>{{ execution.id }}</td>
      <td>{{ execution.start }}</td>
      <td>{{ execution.end }}</td>
      <td>{{ execution.status }}</td>
    </tr>
    </tbody>
  </table>

</ba-card>
