<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="chain">Execute {{chain.identifier}} Chain</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="formGroup" *ngIf="formModel.length">
      <dynamic-form-bootstrap-control *ngFor="let controlModel of formModel"
                                      [group]="formGroup"
                                      [model]="controlModel"></dynamic-form-bootstrap-control>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeModal()">Cancel</button>
    <button class="btn btn-primary confirm-btn" (click)="execute()">Execute</button>
  </div>
</div>
