<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Add Process</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">

      <input auto-complete
             type="text"
             class="form-control"
             placeholder="Type its identifier..."
             [(ngModel)]="selectedProcess"
             [source]="allProcesses"
             [value-formatter]="processFormatter"
             [list-formatter]="processFormatter"
             [accept-user-input]="false"/>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeModal()">Cancel</button>
    <button class="btn btn-primary confirm-btn" (click)="resolveModal()">Add</button>
  </div>
</div>
