<ba-card title="Chains List">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="align-center">Identifier</th>
        <th class="align-center">Version</th>
        <th class="align-center">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chain of chains" routerLink="/pages/chains/{{ chain.id }}">
        <td>{{ chain.identifier }}</td>
        <td>{{ chain.version }}</td>
        <td>{{ chain.title }}</td>
      </tr>
    </tbody>
  </table>
</ba-card>
